.myClass{
    background-color:gray;
    height:50px;
}
.myClassLinks{
    float:right;
}

.firstRowTilesContainer{
    width: 100%;
}
.firstRowTiles{
    width: calc(90%/2);
    margin: 10px;
    border: 2px solid blue;
    background-color: gray;
    display:inline-block;
}

.secondRowTilesContainer{
    width: 100%;
}

.secondRowTiles{
    margin: 10px;
    border: 2px solid blue;
    background-color: gray;
    width: calc(90%/3);
    float: left;
    width: 200px;
}
.breakAfterFloat{
    clear: left;
}